body {
  background: black;
  color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

table {
  width: 100%;
}

td {
  vertical-align: top;
}

.nav {
  width: 20%;
  max-width: 200px;
  line-height: 1.5;
}

.nav a {
  display: block;
  color: #ffda3b;
}

ol {
  list-style: none;
  padding: 0;
}

.hour {
  display: inline-block;
  width: 30px;
  text-align: right;
  margin-right: 10px;
}

.best {
  color: #FF00FF;
}

.good {
  color: #00CCFF;
}

.bad {
  color: #A494E4;
}

.worst {
  color: #FF7500;
}

.materials {
  list-style: none;
  padding-left: 0;
}


