<html>
<head>
<title>PR Bunnies</title>
<link rel="icon" href="/images/PR_Bunny.png" />
</head>
<body>
<%- include(view, params) %>
<a href="/">PR Bunnies</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/time">World Clock</a>
</body>
</html>
