<html>
<head>
<title>PR Bunnies</title>
<link rel="icon" href="/images/PR_Bunny.png" />
</head>
<body>
<%- include('contents', {weather, bands, zones, seasons, getWeatherColor, zone}) %>
</body>
</html>
